@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 62% 9%;
    --foreground: 30 10% 91%;
    --card: 223 62% 12%;
    --card-foreground: 30 10% 91%;
    --popover: 223 62% 9%;
    --popover-foreground: 30 10% 91%;
    --primary: 45 47% 57%;
    --primary-foreground: 223 62% 9%;
    --secondary: 223 62% 15%;
    --secondary-foreground: 45 47% 57%;
    --muted: 223 62% 15%;
    --muted-foreground: 240 3.7% 65.9%;
    --accent: 45 47% 67%;
    --accent-foreground: 223 62% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 62% 15%;
    --input: 223 62% 15%;
    --ring: 45 47% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 223 62% 9%;
    --foreground: 30 10% 91%;
    --card: 223 62% 12%;
    --card-foreground: 30 10% 91%;
    --popover: 223 62% 9%;
    --popover-foreground: 30 10% 91%;
    --primary: 45 47% 57%;
    --primary-foreground: 223 62% 9%;
    --secondary: 223 62% 15%;
    --secondary-foreground: 45 47% 57%;
    --muted: 223 62% 15%;
    --muted-foreground: 240 3.7% 65.9%;
    --accent: 45 47% 67%;
    --accent-foreground: 223 62% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 62% 15%;
    --input: 223 62% 15%;
    --ring: 45 47% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}
